//==============Color==================
$font-color: #000;
$pink: #e91e63;
$purple: #673ab7;
$orange: #f44336;
$yellow: #ff9800;
$turquoise: #00838f;
$limed-spruce: #37474f;

//============font======================
